@import url(./style.css);

.formulario {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

.select {
  display: inline-flex;
  flex-direction: row;
  width: 70%;
  justify-content: center;
}
  
  .formulario__label {
    font-size: 0.75rem;
    margin-bottom: 0.75rem;
  }
  
  .formulario__input {
    background-color: #e5e5fd;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1.063rem;
    border-radius: 50px;
    margin-bottom: 1.625rem;
  }
  
  .formulario__input-password {
    background-color: #e5e5fd;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1.063rem;
    border-radius: 50px;
    margin-bottom: 1.125rem;
  }
  
  .formulario__captions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.438rem;
    font-size: 0.75rem;
    font-weight: bold;
  }
  
  .formulario__button {
    border: none;
    border-radius: 50px;
    padding: 0.75rem 1.5rem;
    background-color: var(--main-blue);
    color: var(--white);
  }
  
  .formulario__registrarse {
    align-self: center;
    font-size: 0.875rem;
  }
  
  .login__img {
    width: 50%;
    object-fit: cover;
  }
  
  @media (max-width: 768px) {
      .login__img {
          display: none
      }
  }