/*** Módulos ***/
@import url('./estilos/normalize.css');
@import url('./estilos/footer.css');
@import url('./estilos/header.css');
@import url('./estilos/home.css');
@import url('./estilos/login.css');
@import url('./estilos/registroClientes.css');
@import url('./estilos/registroProfesionales.css');

/*font family*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

/*paleta de colores*/
:root {
  --main-blue: #001e6c;
  --main-light-blue: #42459b;
  --main-dark-blue: #000040;
  --main-orange: #e8630a;
  --main-light-orange: #ff9441;
  --main-dark-orange: #af3300;
  --black: #1D1C1C;
  --white: #FBFBFB;
}

/*estilos generales*/
body{
    font-family: 'Lato', sans-serif;
}