@import url("./style.css");

/*estilos de header*/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--main-blue);
}

header label {
  display: none;
  width: 50px;
  height: 50px;
  padding: 10px;
}

header label:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.3);
}

.navbar {
  margin: 0%;
  padding: 0%;
}

h1.navbar,
h2.footer {
  font-family: "Lato";
  color: #f5f5f5;
  font-weight: bolder;
  font-size: xx-large;
}

a .navbar .logo {
  height: 50px;
  width: 40px;
  margin: 1em;
}

ul.nav {
  font-size: xx-large;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  margin: 0;
}

li.navbar,
li.footer {
  padding: 0.6em;
  margin:0 0.5em ;
  color: whitesmoke;
  font-size: medium;
  font-weight: 600;
  list-style: none;
}

li.navbar:hover {
  background: rgba(0, 0, 0, 0.3);
}

a.navbar,
a.footer {
  text-decoration: none;
}

img.avatar_login {
  width: 30px;
  height: 30px;
  margin: 0px 0px 0px 15px;
}

/*estilos de footer*/
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: var(--main-blue);
  position: absolute;
  bottom: 0;
  margin: 0%;
  padding: 0%;
}

p.footer {
  color: whitesmoke;
  font-weight: 400;
  margin: 8px 0px 8px 8px;
  padding: 0px;
}

ul.footer {
  font-size: xx-large;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  margin: 0em;
}

i {
  color: whitesmoke;
  margin: 8px 8px 8px 8px;
  padding: 0px;
}

.sidebar-on {
  left: -500px;
  display: block;
}

@media (max-width: 768px) {
  header label {
    display: block;
  }

  img.avatar_login {
    display: none;
  }

  .sidebar-on {
    display: none;
  }

  ul.nav {
    position: absolute;
    z-index: 10;
    background: var(--main-blue);
    flex-direction: column;
    width: 40%;
    top: 80px;
    transition: all 0.5s;
  }

  li.navbar {
    border-top: 1px solid white;
    width: 100%; 
    height: 4rem; 
  }

  ul.footer {
    flex-direction: column;
  }

  footer {
    height: auto;
  }
}
