@import url("./style.css");

/* section */
section {
  padding: 60px;
  overflow: hidden;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: var(--main-dark-blue);
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: var(--main-light-blue);
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}

a {
  color: var(--main-blue);
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  color: var(--main-light-orange);
  text-decoration: none;
}
/* end section */

footer {
  position: fixed;
}
