@import url('./style.css');

.login {
  display: flex;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

.login__container {
    position: relative;
    z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 4.375rem;
  box-shadow: 10px 10px 49px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 49px 0px rgba(0,0,0,0.30);
-moz-box-shadow: 10px 10px 49px 0px rgba(0,0,0,0.75);
}

.logo {
  margin-bottom: 1.875rem;
}

.formulario {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formulario__label {
  font-size: 0.75rem;
  margin-bottom: 0.75rem;
}

.formulario__input {
  background-color: #e5e5fd;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1.063rem;
  border-radius: 50px;
  margin-bottom: 1.625rem;
}

.formulario__input-password {
  background-color: #e5e5fd;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1.063rem;
  border-radius: 50px;
  margin-bottom: 1.125rem;
}

.formulario__captions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.438rem;
  font-size: 0.75rem;
  font-weight: bold;
}

.formulario__button {
  border: none;
  border-radius: 50px;
  padding: 0.75rem 1.5rem;
  background-color: var(--main-blue);
  color: var(--white);
}

.formulario__registrarse {
  align-self: center;
  font-size: 0.875rem;
}

.login__img {
  width: 50%;
  object-fit: cover;
}

@media (max-width: 768px) {
    .login__img {
        display: none
    }
}