@import url('./style.css');

.banner {
  height: 300px;
  background: url(".././assets/banner.png") no-repeat center / cover;
}

.buscador__inicio {
  margin-bottom: 25px;
}

.inputBuscador {
  background-color: #e5e5fd;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1.063rem;
  border-radius: 50px;
  margin-left: 0.5rem;
  width: 20rem;
}

.bi-search {
  margin-left: -12%;
}

.central {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
}

.iconos__inicio {
  display: flex;
  height: 7.5em;
  margin: 1rem 0;
}

.un-icono {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90px;
}

.logo-servicio {
  width: 50px;
  height: 50px;
  margin: 1.5em;
}

.logo-servicio:hover {
  height: 55px;
  width: 55px;
}

.central {
  margin-bottom: 60px;
}

h2.index{
  font-weight: 600;
}

.cartas p {
  margin: 0;
  align-self: center;
}

.carta-prestador {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #e5e5fd;
  border-radius: 15px;
  width: 700px;
  height: 80px;
  margin: 10px;
  padding: 0px;
}

.foto-prestador {
  height: 80px;
  width: 80px;
  margin: 0px;
  border-radius: 15px 0px 0px 15px;
  cursor: pointer;
}

.datosCarta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  width: 600px;
  margin: 0 4%;
}

div.texto {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo-estrellas {
  width: 80px;
  cursor: pointer;
}

.contactar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 1em;
}

.logo-contacto {
  width: 35px;
}

.logo-contacto:hover {
  width: 40px;
}

.oculto {
  display: none;
}

@media (max-width: 768px) {
  .banner {
    height: 200px;
  }

  .iconos__inicio {
    scale: 85%;
  }
  
  .cartas {
    width: 100%;
  }

  .cartas p {
    align-self:flex-start
  }

  .carta-prestador {
    width: 90%;
    height: 110px;
    margin: 10px auto;
  }

  .foto-prestador {
    margin-left: 10px;
  } 

  .datosCarta {
    justify-content: space-between;
    padding: 0 2%;
    margin: 0;
  }

  .datosCarta.texto {
    flex-direction: column;
  }

  div.texto {
    margin: 0 4%;
    flex-direction: column;
  } 

  .contactar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 1em;
  }
}
