
h1 {
    font-family: "Lato";
    font-weight: bolder;
    font-size: xx-large;
}

div h1 {
    font-weight: 700;
}

.bg-custom {
    background-color: rgb(0, 30, 108);
}

div.card {
    position:static;
    height: 300px;
}
.site-wraper {
    padding-top: 24mm;
    padding-bottom: 5mm;
}