/* Componentes CSS */
@import url('./estilos/HeaderFooter.css');
@import url('./estilos/IniciarSesion.css');
@import url('./estilos/normalize.css');

/*font family*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

/*paleta de colores*/
:root {
  --main-blue: #001e6c;
  --main-light-blue: #42459b;
  --main-dark-blue: #000040;
  --main-orange: #e8630a;
  --main-light-orange: #ff9441;
  --main-dark-orange: #af3300;
  --white: #FBFBFB;
  --black: #1D1C1C;
}

/*estilos generales*/
body {
  font-family: "Lato", sans-serif;
}
